
@{
    ViewData["Title"] = "Index";
}

@model IEnumerable<Paraglider.sl.DTOs.ParagliderDTO>

<form method="Post">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" name="name" value="" />
            <div class="input-group-append">
                <button class="btn btn-secondary">
                    <i class="fas fa-search"></i>
                </button>
            </div>

        </div>
    </div>
</form>
<div class=" container justify-content-center">
    <div class="table-responsive-lg"  id="formulaireedit" >
        <table class="table table-borderless table-hover table-striped ">
            <thead class="thead-dark">
                <tr>
                    <th>id </th>
                    <th>Paraglider model name</th>
                    <th>Total hours flight</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Paraglider in Model)
                {
                    <tr style="cursor : pointer" onclick="location.href = '@(Url.Action("Details", "Paraglider", new { id = Paraglider.Id }))'">
                        <th>@Paraglider.Id </th>
                        <th>@Paraglider.ParagliderModelName</th>
                        <th>@Paraglider.TotalHoursFlight</th>
                        <th><button type="button" class="btn btn-outline-info fas fa-plane ml-auto" onclick="location.href = '@(Url.Action("Details", "ParagliderModel", new { id = Paraglider.ParagliderModelId }))'">  Model</button></th>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>