
@{
    
    ViewData["Title"] = "edit";
}

@model Paraglider.sl.DTOs.PilotAndRoleMergeViewModel
<h1>edit</h1>
 
<form method="post">

    <input type="hidden" asp-for="PilotDetail.Id" />
    <div class="form-group">
        <label asp-for="PilotDetail.LastName"></label>
        <input asp-for="PilotDetail.LastName" class="form-control" />
        <label asp-for="PilotDetail.FirstName"></label>
        <input asp-for="PilotDetail.FirstName" class="form-control" />
        <label asp-for="PilotDetail.Email"></label>
        <input asp-for="PilotDetail.Email" class="form-control" />
        <label asp-for="PilotDetail.PhoneNumber"></label>
        <input asp-for="PilotDetail.PhoneNumber" class="form-control" />
        <label asp-for="PilotDetail.Weight"></label>
        <input asp-for="PilotDetail.Weight" class="form-control" />
        <label asp-for="PilotDetail.Role">Role Actuel @Model.PilotDetail.Role.RoleName</label>
        <select asp-for="PilotDetail.Role.RoleId" class="form-control">
            <option value="@Model.PilotDetail.Role.RoleId">@Model.PilotDetail.Role.RoleName</option>
            @foreach (var role in Model.Roles)
            {
                <option value="@role.Id">@role.RoleName</option>
            }
        </select>
   </div>
    <button type="submit" class="btn btn-primary">save</button>
</form>














