
@model IEnumerable<Paraglider.DAL.Models.Pilot>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>id </th>
                <th>first</th>
                <th>last</th>
                <th>Email </th>
                <th>PilotRole</th>
                <th>PhoneNumber</th>
                <th>Wheight</th>
                <th>Memberships</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var pilot in Model)
            {
                <tr>
                    <th id="btnShowModal" type="button">@pilot.PilotId </th>
                    <th>@pilot.FirstName</th>
                    <th>@pilot.LastName</th>
                    <th>@pilot.Email </th>
                    <th>@pilot.Role</th>
                    <th>@pilot.PhoneNumber</th>
                    <th>@pilot.Weight</th>
                    <th>@pilot.PilotMemberships</th>
                    <th></th>

                </tr>
            }
        </tbody>
    </table>
  

                    <div class="col-xs-12">

                        <button id="btnShowModal" type="button"
                                class="btn btn-sm btn-default pull-left col-lg-11 button button4">
                            modify
                        </button>

                        <div class="modal fade" tabindex="-1" id="loginModal"
                             data-keyboard="false" data-backdrop="static">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">
                                            ×
                                        </button>
                                        <h4 class="modal-title">Satya Login</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class="form-group">
                                                <input class="form-control" type="text"
                                                       placeholder="Login Username" id="inputUserName" />
                                            </div>
                                            <div class="form-group">
                                                <input class="form-control" placeholder="Login Password"
                                                       type="password" id="inputPassword" />
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary button button4">Sign</button>
                                        <button type="button" id="btnHideModal" class="btn btn-primary button button4">
                                            Hide
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">

    </script>
    <script src="bootstrap/js/bootstrap.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            $("#btnShowModal").click(function () {
                $("#loginModal").modal('show');
            });

            $("#btnHideModal").click(function () {
                $("#loginModal").modal('hide');
            });
        });
    </script>

</body>
</html>