
@model IQueryable<Paraglider.sl.DTOs.PilotDto>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!--<script>
        $('#deleteModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var deletePilot = button.data('pilot') // Extract info from data-* attributes
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this)
            modal.find('h5').text('You are about to delete pilot : ' + deletePilot.PilotDetail.FirstName)
            modal.find('.modal-body input').val(deletePilot)
        });
    </script>-->
</head>
<body>
    <form method="Post">
        <div class="form-group">
            <div class="input-group">
                <input type="search" class="form-control" name="name" value="" />
                <div class="input-group-append">
                    <button class="btn btn-secondary">
                        <i class="fas fa-search"></i>
                    </button>
                </div>

            </div>
        </div>
    </form>

    <div class="container justify-content-center">
        <div class="row">
            <div class="col-1">
            </div>
            <div class="col-10">
                <div id="formulaireedit">
                    <div class="table-responsive-lg overflow-auto" style="position: relative; max-height: 600px; display: block;">
                        <table class="table table-borderless table-hover table-striped justify-content-center" style="background-color: rgba(255,255,255,0.5);">
                            <thead class="thead-dark">
                                <tr class="d-flex">
                                    <th class="col-1">id </th>
                                    <th class="col-4">first name</th>
                                    <th class="col-4">last name</th>
                                    <th class="col-3"></th>
                                </tr>
                                <tr></tr>
                            </thead>
                            <tbody>
                                @foreach (var pilot in Model)
                                {
                                    <tr style="cursor: pointer;" class="d-flex">
                                        <td class="col-1" onclick="location.href = '@(Url.Action("Details", "Pilot", new { id = pilot.Id }))'">@pilot.Id </td>
                                        <td class="col-4" onclick="location.href = '@(Url.Action("Details", "Pilot", new { id = pilot.Id }))'">@pilot.FirstName</td>
                                        <td class="col-4" onclick="location.href = '@(Url.Action("Details", "Pilot", new { id = pilot.Id }))'">@pilot.LastName</td>
                                        <td class="col-3 row">
                                            <button type="button" class="btn btn-primary" onclick="location.href = '@Url.Action("Edit","Pilot",pilot)'">Edit Pilot</button>
                                            <button type="button" class="btn btn-danger fas fa-trash-alt ml-auto" onclick="location.href = '@(Url.Action("Delete", "Pilot", new { id = pilot.Id }))'">
                                            </button>
                                        </td>
                                    </tr>
                                }
                                <tr>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                    <button type="button" class="btn btn-outline-primary" onclick="location.href = '@Url.Action("Creation","Pilot")'">Create a pilot</button>
                </div>
            </div>
            <div class="col-1">
            </div>
        </div>
    </div>


    <!--<div class="modal fade" id="deleteModal" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">You are about to delete pilot</h5>
                </div>
                <div>

                </div>
            </div>
        </div>
    </div>
        -->

</body>
</html> 