
@model IEnumerable<Paraglider.DAL.Models.Pilot>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
 
    <form method="Post">
        <div class="form-group">
            <div class="input-group">
                <input type="search" class="form-control" name="name" value="" />
                <div class="input-group-append">
                    <button class="btn btn-secondary">
                        <i class="fas fa-search"></i>
                    </button>
                </div>

            </div>
        </div>
    </form>

    <table>
        <thead>
            <tr>
                <th>id </th>
                <th>first</th>
                <th>last</th>
                <th>Email </th>
                <th>PilotRole</th>
                <th>PhoneNumber</th>
                <th>Wheight</th>
                <th>Memberships</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var pilot in Model)
            {

                <tr>
                    <th>@pilot.PilotId </th>
                    <th>@pilot.FirstName</th>
                    <th>@pilot.LastName</th>
                    <th>@pilot.Email </th>
                    <th>@pilot.Role</th>
                    <th>@pilot.PhoneNumber</th>
                    <th>@pilot.Weight</th>
                    <th>@pilot.PilotMemberships</th>
                    <th><button type="submit" class="btn btn-primary button button4" value="@pilot.PilotId" name="Edit">Modify</button></th>
                    <th><button type="submit" class="btn btn-primary button button4">Delete</button></th>

                </tr>

            }
        </tbody>
    </table>








</body>
</html>